<div class="main">
    <!-- Dashboard section -->
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="tube-post">
                <video style="height: auto; width: 100%;" class="" controls="true">
                    <source src="../assets/images/Big_Buck_Bunny_1080_10s_2MB (1)-1646455004132.mp4" controls="">
                </video>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Recent Comments</h2>
                    <!-- <h6 class="card-subtitle">Latest Comments section by users</h6> -->
                </div>

            </div>
        </div>
    </div>

</div>