<body>
    <section class="bg-grey p-md-5 mt-3 pt-3 me-0 pe-0 ps-sm-3 ms-sm-0"
        style="overflow: hidden; margin-left: 6% !important;">
        <div class="row">
            <!-- topbar start -->
            <div class="col-sm-12 p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-info ">
                        <div class="d-flex align-items-center">
                            <img class="img" src="../../assets/images/u1.jpg" alt="user-img">
                            <div class="profile-text ms-3">
                                <h2 class="mb-0">User Name</h2>
                                <p class="mb-0">No subscribers</p>
                            </div>
                        </div>
                    </div>
                    <div class="channel-btn me-5">
                        <div class="d-flex">
                            <button type="button" class="btn btn-primary">Customise channel</button>
                            <button type="button" class="btn btn-primary ms-3">Manage Videos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- topbar over -->

        <!-- tab start -->
        <div class="row">
            <div class="col-sm-12 p-4 tabbing-box pt-0">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#HOME">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#VIDEOS">VIDEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#PLAYLISTS">PLAYLISTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#CHANNELS">CHANNELS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#ABOUT">ABOUT</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active text-center my-5 py-4" id="HOME">
                        <img src="../assets/images/channel-dashborad/aploadvideo.svg"
                            style="height: 150px; width: 150px;" alt="">
                        <h2>Upload a video to get started</h2>
                        <p>Start sharing your story and connecting with viewers. Videos that you upload
                            will show up here.</p>
                        <button type="button" class="btn btn-primary ms-3 mt-3">UPLOAD VIDEOS</button>
                        <span class="d-block mt-3">Learn more about <a href="" class="text-primary">how to get
                                started</a></span>
                    </div>
                    <div class="tab-pane container fade" id="VIDEOS">VIDEOS</div>
                    <div class="tab-pane container fade" id="PLAYLISTS">PLAYLISTS</div>
                    <div class="tab-pane container fade" id="CHANNELS">CHANNELS</div>
                    <div class="tab-pane container fade" id="ABOUT">ABOUT</div>
                </div>
            </div>
        </div>
        <!-- tab end -->
    </section>
</body>
<!-- <script>
    $('#v-pills-tab a').on('click', function (event) {
        event.preventDefault()
        $(this).tab('show')
    })
</script> -->