.text-6 {
    font-size: 1.80em !important;
}

.font-weight-bold, b, strong {
    font-weight: 700 !important;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.w-74 {
    width: 74%;
}

table.dataTable {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}