@media all and (min-width: 992px) {
    .navbar-css .nav-item .dropdown-menu {
        display: none;
    }

    // .navbar-css .nav-item:hover .nav-link {}

    .navbar-css .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar-css .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.navbar-css {
    height: 50px;
    width: 50px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.navbar-css>.container-fluid {
    margin: 0px;
    padding: 0px;
}

.navbar-expand .navbar-nav .dropdown-menu {
    right: 0;
}

.dropdown-item {
    cursor: pointer;
}

.text-box .dropdown-item {
    width: auto;
}

.microphone {
    height: 40px;
    width: 60px;
    line-height: 38px;
    border-radius: 100%;
    background-color: #f9f4f4;
}

.info-box-rounded {
    height: 30px;
    width: fit-content;
    padding: 0px 20px;
    margin: 0px 10px;
    border-radius: 16px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: #ececec;
    border: 1px solid #e0e0e0;
    padding-top: 4px;
}

.custom-slider-main {
    // display: flex;
    overflow: hidden;
    // scroll-behavior: smooth;
    // float: left;
    max-width: 1120px;
    white-space: nowrap;
    display: inline-flex;
}

.sidebar .icon-text li i {
    font-size: 20px;
}

.sidebar .icon-text li span {
    font-size: 10px;
    display: block;
}

.menu {
    font-size: 23px;
}

.header-bar .center-box .form-control {
    height: 40px;
    border-radius: 0;
}

.user-icon .img-box .dropdown .dropdown-menu {
    position: absolute !important;
    transform: translate3d(-5px, 34px, 0px) !important;
    top: -35px !important;
    left: -300px !important;
    will-change: transform !important;
    min-width: 300px;
    padding: 10px 15px;
    overflow-x: auto !important;
}

.right-box .img-box .dropdown i {
    font-size: 20px;
}

.user-icon .img-box .dropdown-item.active,
.user-icon .img-box .dropdown-item:active,
.user-icon .img-box .dropdown-item:hover {
    background-color: transparent;
    color: black;
}

.dropdown-active:hover,
.dropdown-active:active {
    background-color: #ececec;
}

.text-blue {
    color: blue;
}

.img-box .dropdown button {
    border-radius: 0;
    border: 0;
    background: transparent;
}

.img-box img {
    width: 40px;
    height: 40px;
}

img.logo {
    width: 200px;
}

.card .icon-bottom i {
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 9;
}

.card .icon-bottom {
    position: relative;
}

.card .icon-bottom:after {
    background: rgb(224 224 224 / 60%);
    height: 35px;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    // height: 100%;

}

.example-sidenav {
    padding: 20px;
}

.fa-bars:hover {
    cursor: pointer;
}

body.fixed-position {
    position: fixed;
    overflow: hidden;
}

.sidebar1 .sidebar-content,
.sidebar1 .sidebar-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    transition: all .3s ease-in-out 0s;
    // overflow-x: hidden !important;
}

.sidebar1 .sidebar-content:hover,
.sidebar1 .sidebar-overlay:hover {
    overflow-x: auto;
}

.sidebar1 .sidebar-overlay {
    right: 0;
    opacity: 0;
    width: 100%;
    z-index: 99999;
    transform: scale(0);
    background: rgba(0, 0, 0, .4);
}

.sidebar1 .sidebar-content {
    width: 20%;
    color: #333;
    padding: 15px;
    z-index: 99999;
    background: #fff;
    transform: translateX(-100%)
}

.sidebar1.active .sidebar-content {
    transform: translateX(0)
}

.sidebar1.active .sidebar-overlay {
    opacity: 1;
    transform: scale(1)
}

.sidebar-content .menu a img {
    width: 160px;
}

.sidebar1 .sidebar-content .nav-left ul i {
    font-size: 20px;
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecbcb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecbcb;
}

.img-tag img {
    width: 24px !important;
}

.top-header {
    top: 0 !important;
    // left: 6%;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 99999;
    padding: 0 10px;
    padding-top: 15px !important;
}

.sidebar-fixed {
    position: fixed;
    background: white;
    z-index: 999;
    width: 6%;
    height: 100vh;
}

.header-bar {
    padding-left: 0 !important;
}

.header-bar .left-box {
    width: 6%;
}

.signInBtn {
    font-size: 20px;
    border: 1px solid #ddd !important;
    padding: 10px;
    border-radius: 100% !important;
}

.dp_username:hover,
.dp_username:active,
.dp_username:focus {
    background-color: transparent !important;
}

.btnSignIn {
    border: 1px solid #065fd4;
    text-decoration: none;
}

.left-text {
    text-align: left;
}

.usersidebar {
    max-height: 400px;
    overflow-y: auto;
}

@media only screen and (max-width: 767px) {
    .logo-img img {
        width: 120px;
        margin: 0;
        margin-top: 5px;
        margin-right: 15px;
        padding-left: 0 !important;
    }

    img.logo {
        width: 155px;
    }

    .center-box .form-outline {
        display: none;
        width: 0 !important;
    }

    #form1 {
        display: none;
    }

    .search-box .btn {
        border: none !important;
        margin: 0 !important;
        padding: 0 5px;
        margin-top: 5px !important;
    }

    .center-box {
        justify-content: end;
    }

    .microphone {
        display: none;
    }

    .icon-box .ri-play-list-line,
    .icon-box .ri-mail-open-fill {
        display: none;
    }

    .icon-box .ri-notification-2-fill {
        border: none;
        font-size: 15px;
        margin: 0 !important;
        padding: 0 5px;
        margin-top: 5px !important;
    }

    .img-box img {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 0;
    }

    .user-icon {
        margin-left: 5px !important;
    }

    .dropdown-menu {
        font-size: 10px;
        min-width: 5rem;
        transform: translate3d(-56px, 30px, 0px) !important;
    }

    .sidebar1 .sidebar-content {
        width: 100%;
    }

    .sidebar-menu {
        display: none;
    }

    .main-container {
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 20px !important;
    }
}