.main {
    margin-left: 200px;
    font-size: 28px;
    padding: 0px 35px;
    padding-top: 100px;
    background-color: #f9f9f9;
}

.card {
    border: medium none;
    border-radius: 0;
    margin-bottom: 5px;
}

.card-body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.row {
    margin-right: -15px;
}