<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h2>RESET PASSWORD</h2>
                </div>

                <form [formGroup]="forgotForm" (ngSubmit)="forgotpswd()">
                    <div class="alert alert-success bg-soft-primary border-0" role="alert">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="emailaddress">Email address</label> -->
                        <!-- <input formControlName="email" type="email" id="emailaddress" class="form-control" placeholder="Email Address"/> -->
                        <input formControlName="email" type="email" class="form-control" id="emailaddress" placeholder="Email Address" [ngClass]="{'danger-class': (submitted && f['email'].errors) || (f['email'].errors && f['email'].touched)}" />
                        <div *ngIf="(submitted && f['email'].errors) || (f['email'].errors && f['email'].touched)" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']"> Email is required</div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">RESET PASSWORD</button>

                    <div class="form-group other_auth_links">
                        <a routerLink="/">Login</a>
                        <a routerLink="/signup">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>      