<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h2>Sign Up</h2>
                </div>

                <form [formGroup]="signupForm" (ngSubmit)="singUp()">
                    <!-- First name input -->
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="firstname">First Name</label> -->
                        <!-- <input formControlName="first_name" type="text" id="firstname" class="form-control" placeholder="First Name"/> -->
                        <input formControlName="first_name" type="text" class="form-control" id="firstname" placeholder="First Name" [ngClass]="{'danger-class': (submitted && f['first_name'].errors) || (f['first_name'].errors && f['first_name'].touched)}" />
                        <div *ngIf="(submitted && f['first_name'].errors) || (f['first_name'].errors && f['first_name'].touched)" class="invalid-feedback">
                            <div *ngIf="f['first_name'].errors['required']"> First Name is required</div>
                        </div>
                    </div>

                    <!-- Last name input -->
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="lastname">Last Name</label> -->
                        <!-- <input formControlName="last_name" type="text" id="lastname" class="form-control" placeholder="Last Name"/> -->
                        <input formControlName="last_name" type="text" class="form-control" id="lastname" placeholder="Last Name" [ngClass]="{'danger-class': (submitted && f['last_name'].errors) || (f['last_name'].errors && f['last_name'].touched)}" />
                        <div *ngIf="(submitted && f['last_name'].errors) || (f['last_name'].errors && f['last_name'].touched)" class="invalid-feedback">
                            <div *ngIf="f['last_name'].errors['required']"> Last Name is required</div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="emailaddress">Email address</label> -->
                        <!-- <input formControlName="email" type="email" id="emailaddress" class="form-control" placeholder="Email Address"/> -->
                        <input formControlName="email" type="email" class="form-control" id="emailaddress" placeholder="Email Address" [ngClass]="{'danger-class': (submitted && f['email'].errors) || (f['email'].errors && f['email'].touched)}" />
                        <div *ngIf="(submitted && f['email'].errors) || (f['email'].errors && f['email'].touched)" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']"> Email is required</div>
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="password">Password</label> -->
                        <!-- <input formControlName="password" type="password" id="password" class="form-control" placeholder="Password" #password_field/> -->
                        <input #password_field formControlName="password" type="password" class="form-control" id="password" placeholder="Password" [ngClass]="{'danger-class': (submitted && f['password'].errors) || (f['password'].errors && f['password'].touched)}" (input)="NotMatched($event.target, 'pass')"/>
                        <span (click)="password_field.type=password_field.type=='password'?'text':'password'"
                            class="fa fa-fw field-icon toggle-password"
                            [ngClass]="(password_field.type=='password')?' fa-eye-slash':' fa-eye'">
                        </span>
                        <div *ngIf="(submitted && f['password'].errors) || (f['password'].errors && f['password'].touched)" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']"> Password is required</div>
                        </div>                     
                    </div>

                    <!-- Confirmed password input -->
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="password_confirmation">Confirm Password</label> -->
                        <!-- <input formControlName="password_confirmation" type="password" id="password_confirmation" class="form-control" placeholder="Confirm Password" #password_field1/> -->
                        <input #password_field1 formControlName="password_confirmation" type="password" class="form-control" id="password_confirmation" placeholder="Confirm Password" [ngClass]="{'danger-class': (submitted && f['password_confirmation'].errors) || (f['password_confirmation'].errors && f['password_confirmation'].touched)}" (input)="NotMatched($event.target, 'conpass')" />
                        <span (click)="password_field1.type=password_field1.type=='password'?'text':'password'"
                            class="fa fa-fw field-icon toggle-password"
                            [ngClass]="(password_field1.type=='password')?' fa-eye-slash':' fa-eye'">
                        </span>
                        <div *ngIf="(submitted && f['password_confirmation'].errors) || (f['password_confirmation'].errors && f['password_confirmation'].touched)" class="invalid-feedback">
                            <div *ngIf="f['password_confirmation'].errors['required']"> Confirm Password is required</div>
                        </div> 
                        <div *ngIf="f['password_confirmation'].value && isNotMatched && f['password_confirmation'].touched"> 
                            <small class="text-danger">Password not matched</small>
                        </div>   
                    </div>

                    <!-- Submit button -->
                    <button [disabled]="isNotMatched" type="submit" class="btn btn-primary btn-block mb-4">SIGN UP</button>

                    <!-- Register buttons -->
                    <!-- <div class="text-center">
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        </button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>      